*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;}

    .clearfix::after{
        display: table;
        content: "";
        clear: both;
    }

/* common rules */

header{
    background-color:rgba(49, 97, 224, 1);
height: 51px;
width: 100vw;
text-align: center;
display: inline-block;
vertical-align: bottom;
}

a{
    text-decoration: none;
    padding:23px;
    color: white;
}

.accedi{
    background-color: white;
    color: black;
    border-radius: 15px;
    font-size: 13px;
    padding: 10px;
}
.site_logo{
}
/* /header_site */



.sezione1{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 27rem;
    color: whitesmoke;
    position: static;
}

h2{
    padding: 38px;
}
.centered{
    text-align: center;
    padding: 87px;
}
    .download{
        width: 70%;
    margin:20px auto;
    text-align: center;
    font-weight: 600;
}

    .discord{ background-color: rgba(28, 27, 41, 1);
    color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 13px; 
    margin-left: 10px;
    }

/* /sezione1_ */

    .sezione2{
       height: 30rem;
    width: 100vw;
    display: inline-block;
    }
.contenuto_sezione2{
    width: 70%;
    margin:0 15%;
}
.img_chat{
     width:50% ;
    float:left;
margin-left: 10px;
/* position: relative;
    left: 400px;
    top: 52px; */
}


.text_right{
    float: left;
    position: relative;
    left: 296px;
    top: 87px
}

.left_text h3{
    margin-bottom:1rem;
    font-weight: bolder;
}
.wave{
    filter: opacity(0.2);
    
}

.sezione3{
    background-color: rgba(246, 246, 246, 1);
    height: 27rem;
    width: 100vw;
    display: inline-block;
}

.contenuto_sezione3{
    width: 70% auto;
    margin: 0 15%;
}
.text_left{
    float: left;
    width: 40%;
}

.sezione3> img{
    float: left;
    margin-right: 2rem;
}
/* /sezione3 */



.left_text h3{
    margin-bottom:1rem;
    font-weight: bolder;
}

.sezione4{
    background-color: rgba(246, 246, 246, 1);
    height: 27rem;
    width: 100vw;
    display: inline-block;
}

.contenuto_sezione4{
    width: 70% auto;
    margin: 0 15%;
}
.text_left{
    float: left;
    width: 30%;
}

.contenuto_sezione4> .img{
    float: left;
    width:60% ;
}
/* sezione4 */



.sezione5{
    background-color:  rgba(246, 246, 246, 1);
    width: 100vw;
    height: 44rem;
    display: block;
}
.contenuto_sezione5{ 
    width: 70%; 
    margin: 0 15%;
}
.text_centered h1{
    width: 100%;
    float:left;
}
.text_centered p{
    width: 100%;
float: left;
}
.text_centerd img{
    float:left;
    width: 100%;
}
/* /sezione5 */